@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
}

body { font-family: "Roboto", sans-serif; }
i, p { display: inline; }

#grid-container {
  height: 100vh;
  width: 100vw;

  display: grid;

  grid-template-columns: 300px 1fr;
  grid-template-rows: 200px 1fr;
}

#sidebar {
  height: 100%;
  background-color: #1892d3;
  grid-row: span 2;
}

#sidebar .logo {
  width: calc(100% - 40px);
  margin: 0px 20px 0px 20px;
  display: flex;
  align-items: center;
  height: 75px;
}

#sidebar .logo .icon {
  color: #ffffff;
  width: 50px;
  font-size: 42px;
  text-align: center;
}

#sidebar .logo > p {
  color: #ffffff;
  font-size: 30px;
  margin-left: 30px;
}

#sidebar > div {
  margin-top: 40px;
}

button.navItem {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: none;
}

.navItem {
  height: 50px;
  width: calc(100% - 40px);
  margin: 0px 20px 0px 20px;

  display: flex;
  align-items: center;
}

.navItem .icon {
  color: #ffffff;
  font-size: 30px;
  width: 50px;
  text-align: center;
}

.navItem > p {
  margin-left: 30px;
  font-size: 20px;
  color: #ffffff;
}

#header {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 70px 110px;


}

#header .searchBar {
  width: calc(100% - 80px);
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.searchBar .icon {
  width: 50px;
  font-size: 20px;
}

.searchBar input {
  width: 80%;
  height: 30px;
  background-color: #e2e8f0;
  border-radius: 100px;
  padding-left: 15px;
}

#header .wrapper {
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 60px;
  padding-top: 10px;
}

#header .wrapper .icon {
  text-align: end;
}

.profile {
  display: flex;
  align-items: center;

  position: relative;
  top: 0;
}

.profile img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 0px 10px 0px 10px;
}

.profile p {
  font-weight: bold;
}

#header #welcome {
  height: 90px;
  margin-left: 40px;

  display: grid;

  grid-template-columns: 110px 1fr;
  grid-template-rows: 90px;

  align-items: center;
}

#header #welcome img {
  max-height: 80%;
  height: auto;
  border-radius: 50%;
}

#header #welcome div {
  display: inline;
}

#header #welcome .text {
  font-weight: 700;
  font-size: 12px;
  line-height: 30px;
}

#header #welcome .text .highlighted {
  font-size: 30px;
  font-weight: bold;
}

#header #actions {
  display: grid;
  align-items: center;
  margin-right: 60px;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
}

#header #actions button {
  height: 40px;
  min-width: 100px;
  border-radius: 100px;
  background-color: #1892d3;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

#mainContent {
  height: calc(100%-40px);
  width: calc(100% - 40px);
  background-color: #e2e8f0;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;

  display: grid;

  grid-template-columns: 1fr 300px;
  grid-template-rows: 1fr 1fr;

  row-gap: 20px;
  column-gap: 20px;
}

#projects {
  grid-row: span 2;
}

#mainContent h1 {
  height: 40px;
  font-size: 20px;
  color: black;
  margin-bottom: 10px;
}
#projects .projectGrid {
  display: grid;
  height: calc(100% - 50px);

  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: 1fr 1fr;

  row-gap: 30px;
  column-gap: 20px;
}
.projectCard {
  height: 90%;
  width: 90%;
  background: #f1b32a;
  overflow: hidden;
  position: relative;
  border-radius: 10px;

  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.projectCard .content {
  background-color: #ffffff;
  height: calc(100% - 60px);
  padding: 30px 20px;
  width: calc(100% - 50px);
  float: right;
  display: flex;
  flex-direction: column;
}

.projectCard .headline {
  color: black;
  display: block;
  font-size: 20px;
  font-weight: bold;
}

.projectCard .text {
  color: black;
  display: block;
  flex: 1;
}

.projectCard .icons {
  position: relative;
  width: 50%;
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  margin-left: auto;
}

#announcements .grid {
  height: calc(100% - 90px);
  padding: 20px 20px;
  background-color: #ffffff;
  color: black;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 10px;

  border-radius: 10px;
}

.annuncementItem .headline {
  text-transform: capitalize;
  display: block;
  font-size: 16px;
  font-weight: bold;
}

.annuncementItem .text {
  display: block;
  font-size: 12px;
}

#trending .grid {

  height: calc(100% - 90px);
  padding: 20px 10px;
  background-color: #ffffff;
  color: black;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

  display: grid;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 10px;
  border-radius: 10px;
}

.profileCard {
  height: 100%;
  max-height: 50px;
  display: flex;
  overflow: hidden;
}

.profileCard img {
  display: block;
  height: 50px;
  width: auto;
  object-fit: contain;
  border-radius: 50%;
}

.profileCard .info {
  margin-left: 10px;
  display: flex;

  flex-direction: column;
}

.profileCard .userName {
  font-weight: bold;
}
